<nav class="navbar bg-primary navbar navbar-expand-lg" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container-fluid">
     
      <a class="navbar-brand" href="{% url 'home'%}">WebPro</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <div class="navbar-nav">
         
          {% if user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">home</a>
          
          <a class="nav-link" href="{% url 'dashboard'%}">dashbord &nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
        
          <a class="nav-link" href="{% url 'education'%}">education</a>

          <a class="nav-link" href="{% url 'profile'%}">profile</a>
          <a class="nav-link" href="{% url 'logout'%}">logout</a>

          {% else %}

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
          
          <a class="nav-link" href="{% url 'home'%}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;home<i class="fa fa-user-plus" aria-hidden="true"></i></a>
          <a class="nav-link" href="{% url 'contact'%}">&nbsp;&nbsp;&nbsp;contact</a>

          <a class="nav-link" href="{% url 'education'%}">&nbsp;&nbsp;&nbsp;education<i class="fa fa-sign-in" aria-hidden="true"></i></a>
          
          <a class="nav-link" href="{% url 'register'%}">&nbsp;&nbsp;&nbsp;register</a>

          <a class="nav-link" href= "{% url   'login' %} ">&nbsp;login</a>
          {% endif %}
          <div/>
        </div>
      </div>
    </div>
  </nav>